AGENTS_HOST={{ my_agents_host }}
AGENTS_PORT={{ my_agents_port }}
CLIPROXYAPI_URL=http://127.0.0.1:8317/v1
CLIPROXYAPI_API_KEY={{ my_agents_secrets.cliproxyapi_api_key }}
COACH_URL=http://127.0.0.1:8080
LANGSMITH_TRACING=false
PYTHONUNBUFFERED=1
TZ={{ base_timezone }}
