listen = "{{ sb_server_host }}:{{ sb_server_port }}"
token = "{{ sb_server_secrets.api_token }}"
db_path = "{{ sb_server_db_path }}"
work_dir = "{{ sb_server_work_directory }}"
spool_dir = "{{ sb_server_spool_directory }}"
elevenlabs_api_key = "{{ sb_server_secrets.elevenlabs_api_key }}"
rclone_remote = "{{ sb_server_rclone_remote }}"
