listen = "{{ sb_capture_host }}:{{ sb_capture_port }}"
token = "{{ sb_capture_secrets.api_token }}"
work_dir = "{{ sb_capture_work_directory }}"
spool_dir = "{{ sb_capture_spool_directory }}"
elevenlabs_api_key = "{{ sb_capture_secrets.elevenlabs_api_key }}"
rclone_remote = "{{ sb_capture_rclone_remote }}"
