{
  log {
    output file /var/log/caddy/access.log
    format json
  }
}

etobaza.dimalip.in {
    reverse_proxy http://127.0.0.1:5003 {
      transport http {
        read_timeout 360s
      }
    }
    log
}

coach.dimalip.in {
    @admin path /admin*

    handle @admin {
      forward_auth localhost:4180 {
        uri /oauth2/auth
        copy_headers Authorization X-Auth-User Set-Cookie
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Uri {uri}

        @error status 401
        handle_response @error {
          redir https://coach.dimalip.in/oauth2/sign_in?rd={uri}
        }
      }
      reverse_proxy localhost:8080
    }

    handle /oauth2/* {
      reverse_proxy localhost:4180
    }

    handle {
      reverse_proxy localhost:8080
    }

    log
}

basidian.dimalip.in {
    reverse_proxy localhost:9090
    log
}

dimaist.dimalip.in {
    reverse_proxy localhost:3000
    log
}

silence.dimalip.in {
    reverse_proxy localhost:4000
    log
}

papujki.space {
    reverse_proxy localhost:3333
    log
}

dimalip.in, www.dimalip.in {
    # Proxy API requests to backend
    handle /api/* {
        reverse_proxy localhost:6190
    }

    # Serve static files and SPA
    handle {
        root * /opt/dimalip.in/dist
        encode gzip
        try_files {path} /index.html
        file_server
    }
    log
}

life.dimalip.in {
    # Proxy API requests to backend
    handle /api/* {
        reverse_proxy localhost:7777
    }

    # Serve static files and SPA
    handle {
        root * /opt/life/frontend/dist
        encode gzip
        try_files {path} /index.html
        file_server
    }
    log
}

rss.dimalip.in {
    reverse_proxy localhost:8085
    log
}

code.dimalip.in {
    reverse_proxy localhost:4096
    log
}

{{ bro_host }} {
    reverse_proxy localhost:7880
    log
}
