[defaults]
roles_path = ./roles
inventory = ./inventories/public/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
vault_identity_list = public@scripts/vault-password-client
no_target_syslog = True
